
.people{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.person{
    border: 2px solid black;
    margin-left:3px;
    display:flex;
    flex-direction: column;
    padding: 50px;
  }
  .addForm{
      text-align: center;
  }
