
.people{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.person{
    border: 2px solid black;
    margin:5px;
    display:flex;
    flex-direction: column;
    padding: 1vmax;
    border-radius: 10px;
    background-color: #80ff80;
}

.addForm{
    text-align: flex-start;
}

